.radio-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;

  label {
    color: #28293d;
    font-size: 14px;
    font-weight: bold;
    font-family: Staff;
    line-height: 22px;
    position: relative;
  }

  .required-marker {
    color: red;
    position: absolute;
    top: 0;
    margin-left: 5px;
    right: 3;
    font-size: 14px;

    &:hover {
      color: darkred;
    }
  }

  div label {
    margin-left: 10px;
  }
}
