<form (ngSubmit)="submitForm()">
  <app-text-input type= "text" label="username" [(ngModel)]="textInputValue" [ngModelOptions]="{standalone: true}"></app-text-input>{{ textInputValue }}
  <app-text-input type= "password" label="password" [(ngModel)]="passwordInputValue" name="passwordInputValue" [ngModelOptions]="{standalone: true}"></app-text-input>{{ passwordInputValue }}
  <app-text-input type= "email" label="email" [(ngModel)]="emailInputValue" name="emailInputValue" [ngModelOptions]="{standalone: true}"></app-text-input>{{ emailInputValue }}
  <button type="submit">Submit</button>
</form>