<div class="wrapper">
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
        <app-text-input type="text" label="UserName" formControlName="userName"></app-text-input>
        <div *ngIf="userName.invalid && (userName.dirty || userName.touched)">
            <p *ngIf="userName.hasError('required')" class="error">
                PLEASE ENTER YOUR USER NAME
            </p>
        </div>
        <app-text-input type="password" label="password" formControlName="password"></app-text-input>

        <div *ngIf="password.invalid && (password.dirty || password.touched)">
            <p *ngIf="password.hasError('required')" class="error">
                PLEASE ENTER YOUR USER PASSWORD
            </p>
        </div>
        <div>
            <button [disabled]="!form.valid">Submit</button>
        </div>
    </form>

    <div *ngIf="submitted">
        <h2>Submitted Values:</h2>
        <p>UserName: {{ form.value.userName }}</p>
        <p>Password: {{ form.value.password }}</p>
    </div>
</div>
