<div class="form-input-container">
    <label [for]="label">
        {{label}}
        <span *ngIf="isRequired" class="required-marker">*</span>
    </label>

    <div class="input-with-icon">
        <input [type]="type"
               [id]="label"
               [formControl]="control"
               [placeholder]="placeholder"
               [class.error]="control.invalid && control.touched"
               [class.prefix-input]="isPrefix"
        />
        <span *ngIf="isPrefix" class="icon-prefix" [innerHtml]="icons"></span>
        <span *ngIf="!isPrefix" class="icon-suffix" [innerHtml]="icons"  [title]="(iconName === 'successinfo' || iconName === 'errorinfo') ? 'Tooltip message' : ''"></span>
    </div>
    <app-validation-errors [errors]="control?.errors" [invalid]="control?.invalid" [touched]="control?.touched" [label]="label"></app-validation-errors>
</div>
