<!-- <div class="form-group"> <label for="label">Mobile Number</label>
  <div>
    <select id="countryCode" [(ngModel)]="selectedCountryCode" (change)="updateValue()">
      <option *ngFor="let option of countryCodeOptions" [value]="option.value">
        {{option.code}} {{ option.label }}</option>
    </select>
    <input type="text" id="mobileNumber" [(ngModel)]="mobileNumber" (blur)="onTouched()" (input)="updateValue()">
  </div>
</div> -->

<div class="phone-container">
  <div class="form-group">
    <label for="label">{{label}}</label>
    <div class="row">
      <div class="col-sm-2">
        <mat-select [(ngModel)]="selectedCountryCode" (selectionChange)="updateValue()"
          panelClass="country-code-select-panel">
          <mat-select-trigger>
            <div class="d-flex">
              <span class="country-flag" [innerHTML]="getIcon(selectedCountryCode)"></span> <span>
                {{ selectedCountryCode
                }}
              </span>
            </div>

          </mat-select-trigger>
          <mat-option *ngFor="let option of countryCodeOptions" [value]="option.value">
            <div class="d-flex">
              <span class="country-flag" [innerHTML]="option.code"></span><span>
                {{ option.label }}
              </span>
            </div>
          </mat-option>
        </mat-select>
      </div>
      <div class="col-sm-10">
        <input type="text" id="mobileNumber" [(ngModel)]="mobileNumber" (blur)="onTouched()" (input)="updateValue()"
          class="mobile-number-input">
      </div>
    </div>
  </div>
</div>


