.form-group {
  display: flex;
  flex-direction: column;
  label {
    margin-bottom: 8px;
  }
  .input-container {
    display: flex;
    .country-selector,
    .phone-number {
      flex: 1;
    }
    .country-selector {
      margin-right: 8px;
    }
    .mobile-number-input {
      border: 1px solid #ccc;
      height: 30px;
      padding: 8px;
      box-sizing: border-box;
      flex: 1;
    }
  }
}
