.checkbox-wrapper {
  margin-bottom: 10px;

  label {
    margin-bottom: 5px;
    color: #28293d;
    font-size: 14px;
    font-weight: bold;
    font-family: Staff;
    line-height: 22px;
    position: relative;
  }

  .required-marker {
    color: red;
    position: absolute;
    top: 0;
    margin-left: 5px;
    right: 3;
    font-size: 14px;

    &:hover {
      color: darkred;
    }
  }

  input[type="checkbox"] {
    width: 9px;
    height: 12px;
  }

  .checkbox-option {
    display: flex;
    align-items: center;
    margin-bottom: 5px;

    input[type="checkbox"] {
      margin-right: 5px;
    }
  }
}
