.checkbox-wrapper {
  margin-bottom: 10px;

  label {
    align-items: center;
    margin-bottom: 5px;
    color: #040404;
    font-size: 14px;
    font-weight: bold;
    font-family: Staff;
    line-height: 22px;
    position: relative;
  }

  .required-marker {
    color: red;
    position: absolute;
    top: 0;
    margin-left: 5px;
    right: 3;
    font-size: 14px;

    &:hover {
      color: darkred;
    }
  }

  input[type="checkbox"] {
    margin-right: 10px;
    display: inline-block;
  }

  input[type="checkbox"]::before {
      content: '';
      display: inline-block;
      width: 14px;
      height: 15px;
      border: 1.7px solid #B0C0CF;
      border-radius: 2px;
      background-color: white;
      vertical-align: middle;
  }

  input[type="checkbox"]:checked::before {
      content: '✔';
      text-align: center;
      line-height: 16px;
      color: #00A64B;
      background-color: white;
  }
}
