.dropdown-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;

  label {
    margin-bottom: 5px;
    font-weight: bold;
    position: relative;
    }

  .required-marker {
    color: red;
    position: absolute;
    top: 0;
    margin-left: 5px;
    right: 3;
    font-size: 14px;

    &:hover {
      color: darkred;
    }
  }

  select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
}
