.dropdown-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  position: absolute;
  width: 600px;

  label {
    color: #28293d;
    font-size: 16;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    position: relative;
  }

  .required-marker {
    color: red;
    position: absolute;
    top: 0;
    margin-left: 5px;
    right: 3;
    font-size: 14px;

    &:hover {
      color: darkred;
    }
  }

  select {
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    z-index: 999;
  }

  select option {
    display: flex;
    min-height: 28px;
    background-color: white;
  }

  select option:not([disabled]):hover {
    background-color: rgb(185, 34, 34);
  }

  select[size="1"] {
    position: absolute;
    opacity: 0;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }

  select:focus{
    border-color: #8638E5;
    outline: none;
  }
}
